.commonbackground {
  overflow-x: hidden;
  background-image: linear-gradient(#121212, rgb(10 4 4 / 68%)),
    url(/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(15px);
  color: white;
}
